{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.test.tsx",
      "options": {
        "semi": true
      }
    }
  ]
}
